body {
    background-image: url("https://img.freepik.com/foto-gratis/textura-pared-estuco-azul-marino-relieve-decorativo-abstracto-grunge-fondo-color-rugoso-gran-angular_1258-28311.jpg?t=st=1657929160~exp=1657929760~hmac=74f3401abafefcaa23c1ec176d0f516ec95bb9cae365057b2a957812db84c089&w=996");
    background-repeat: no-repeat;
    background-size: cover;
}

    div#padre {
        background-color:  #0E2645;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 1395px;
        height: 1365px;
        border: 6px solid  #762837;
        border-style: ridge;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 3px;
    }

    div#portada {
        width: 100%;
    }

    div#menuDeBotones {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: auto;
     /*
    align-items: center; /* No logro alinear los botones en el centro* HELP!!*/
    padding:3px;
    }
       
        .nosotros {
        background-color: #762837;
        color: white;
        font-size: 30px;
        width: 25%;
        height: 70px;
        font-family: 'Just Another Hand';
        font-style: normal;
        margin-left: -3.5px;
        }

        .horarios {
        background-color: #762837;
        color: white;
        font-size: 30px;
        width: 25%;
        height: 70px;
        font-family: 'Just Another Hand';
        margin-left: -3.5px;
        }  

        .paquetes {
        background-color: #B58991;
        color: white;
        font-size: 30px;
        width: 25%;
        height: 70px;
        font-family: 'Just Another Hand';
        margin-left: -3.5px;  
        } 
        .dudas    {
        background-color: #762837;
        color: white;
        font-size: 30px;
        width: 25%;
        height: 70px;
        font-family: 'Just Another Hand';
        margin-left: -3.5px;
        }

    div#columnas {
    display: flex;
    font-family: 'Inter', sans-serif;
    color: #0E2645;
    font-size: 25px;
    background-color: #EADFE1;
    justify-content: space-around;
    }

    div#areaCambiante {
    background-color: #EADFE1;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

        div#despacioQueLlevoPrisa{
        background: rgba(88, 168, 204, 0.73);
        width:  1300px;
        height: auto;
        border-radius: 50px;
        flex-direction: column;
        justify-items: center;
        margin: 30px;
        margin-left: 120px;
        }
        
        #tortuga {
            margin-left: 25%; /*Revisar que pasa con imagenes y botones son misteriosos para centrar justify-content: center;*/
        }

        div#secciondeTarjeta {
            
            width: 600;
            height: auto;
            margin-right: 50px;  
            align-items: center;
            justify-items: center;
            margin: 30px;
            
        }

        #imagenTarjeta {
            width: 40%;
            align-items: center;
            margin-left: 30%;
        }


.lineatortugas {
    position:absolute;
    width: 92%;
    height: auto;
    top: 1280px;
    display: none;
}

div#tarjetaInvalida{

    background-color: rgb(82, 4, 127);
    display: flex;
    padding: 50px;
    height: 530px;
    align-items: flex-start;
    
}

.tarjetaInvalida {
    width: 25%;
    align-self: center;
}

div#tarjetaValida {
    background-color: rgb(119, 6, 115);
    display: flex;
    padding: 50px;
    height: 530px;
    align-items: flex-start;
    align-content: center;
}

h3 {

    font-family: 'Galindo';
    font-size: 28px;
    line-height: .4;
    text-align:Center;
    color:#0E2645;

}

h4 {
    color: #0E2645;
    text-align: center;
    font-weight: bold;
    font-family: 'Helvetica';
    font-size: 25px;
    line-height: 1;
}

p{
    color: #0E2645;
    text-align: center;
    font-weight: bold;
    font-family: 'Helvetica';
    font-size: 22px;
    line-height: .4;
}
 
div#pieDePagina {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

a {
    color: rgb(187, 224, 254);
    font-size: 20px;
    font-family: 'Just Another Hand';
    margin: 20px;
}