body {
    background-image: url("https://img.freepik.com/foto-gratis/textura-pared-estuco-azul-marino-relieve-decorativo-abstracto-grunge-fondo-color-rugoso-gran-angular_1258-28311.jpg?t=st=1657929160~exp=1657929760~hmac=74f3401abafefcaa23c1ec176d0f516ec95bb9cae365057b2a957812db84c089&w=996");
    background-repeat: no-repeat;
    background-size: cover;
}

#padre {
    background-color: #0E2645;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 1350px;
    height: 1350px;
    border: 6px solid #762837;
    border-style: ridge;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#portada {
    width: 100%;
}

#menuDeBotones {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 30px;
}

.botonRojo {
    background-color: #762837;
    color: white;
    font-size: 35px;
    height: 80px;
    width: 336px;
    font-family: 'Just Another Hand';
    font-style: normal;
    align-items: center;
    cursor: pointer;
}

.botonSeleccionado {
    background-color: #B58991;
    color: white;
    font-size: 35px;
    height: 80px;
    width: 336px;
    font-family: 'Just Another Hand';
    font-style: normal;
    align-items: center;
    cursor: pointer;
    border: none;
}

#areaCambiante {
    background-color: #EADFE1;
    padding: 10px;
    display: table;
    height: 40%;

}

#columnaUno {
    margin-top: 20px;
    padding: 10px;
    float: left;
    width: 48.4%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#columnaDos {
    margin-top: 20px;
    padding: 10px;
    float: left;
    width: 48.4%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#rectangulo {
    background: url('Rectangle\ 25.png');
    width: 70%;
    height: auto;
    border-radius: 50px;
    padding: 20px;
    margin: 10px;
    display: inline;
    align-items: center;
}

#pantallaDos {
    background-color: #EADFE1;
    padding: 10px;
    display: none
}

#tarjetaInvalida {
    padding: 10px;
    width: auto;
    align-items: center;
    text-align: center;
    display: none;
    flex-direction: column;
}

#tarjetaValida {
    padding: 10px;
    width: auto;
    align-items: center;
    text-align: center;
    display: none;
    flex-direction: column;
    height: 515px;
}


p {
    color: #0E2645;
    text-align: center;
    font-weight: bold;
    font-family: 'Helvetica';
    font-size: 20px;
    line-height: .1;
}

p.ptitle {
    font-family: 'Galindo';
    font-size: 25px;
    font-weight: bold;
}


p.ptitlev{
    font-family: 'Galindo';
    font-size: 25px;
    font-weight: bold;
    color: darkgreen;
}

p.ptitler{
    font-family: 'Galindo';
    font-size: 25px;
    font-weight: bold;
    color:brown;
}

p.p1 {
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 25px;
}

p.p2 {
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 40px;
}

#espacioParaElNumeroDeTarjeta {
    background-color: #B58991;
    color: white;
    width: 55%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 24px;
    justify-content: center;
    text-align: center;
}

#botonDeValidar {
    background-color: #5186ae;
    color: white;
    padding: 10px 100px;
    border: none;
    font-family: 'Just Another Hand';
    font-size: 25px;
    border-radius: 8px;
}


#reintentar {
    background-color: #5186ae;
    color: white;
    padding: 10px 100px;
    border: none;
    font-family: 'Just Another Hand';
    font-size: 25px;
    border-radius: 8px;
}

#continuar {
    background-color: #5186ae;
    color: white;
    padding: 10px 100px;
    border: none;
    font-family: 'Just Another Hand';
    font-size: 25px;
    border-radius: 8px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    justify-content: center;
    margin:-10px;
}

a {
    color: rgb(137, 174, 204);
    font-size: 25px;
    font-family: 'Just Another Hand';
    margin: 25px;
}

#mensajeIncorrecto{
     line-height: 1.5;
     font-size: 18px;
}